.contenedor-misiones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header-mision {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
    padding: 0rem 4rem 0rem 4rem;
}

.titulo-principal {
    font-size: 1.5rem;
    /* text-2xl */
    font-weight: bold;
}

.puntos-total {
    font-size: 1.125rem;
    /* text-lg */
}

.seccion-subtitulo {
    display: flex;
    padding: 0rem 4rem 0rem 4rem;
    align-items: center;
    width: 100%;
    height: 10%;
}

.subtitulo {
    font-size: 1.25rem;
    /* text-xl */
    font-weight: 600;
    /* font-semibold */
}

.descripcion {
    font-size: 1rem;
    /* text-md (no existe en Tailwind, se aproxima a base) */
}

.mision-listado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.texto-mision {
    font-size: 1.125rem;
    /* text-lg */
}

.lsubtitulos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.mision-listado {
    padding: 2rem; /* p-8 */
    border-radius: 0.5rem; /* rounded-lg */
}

.texto-mision {
    color: white; /* text-white */
    font-size: 1.125rem; /* text-lg */
    font-weight: 600; /* font-semibold */
    margin-bottom: 1rem; /* mb-4 */
}
.mision-lista {
    /* Quitar la barra de desplazamiento visual */
    &::-webkit-scrollbar {
        display: none; /* Oculta la barra de desplazamiento */
    }
}
.mision-children {
    margin-top: 1rem; /* mt-4 */
}
.mision-item {
    margin: 16;
}
.mision-item-header {
    display: flex;
    align-items: center;
    margin: 4;
}
.mision-item-header h2{
    margin: 16;
}