/* dropdown.css */

.title-container {
  box-sizing: border-box;
  color: black;
  font-weight: bold;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  transition: color 0.2s ease;
  border-radius: 16px;
  max-width: 260px;
}

.title-container:hover{
  color: rgb(14, 14, 14); /* hover:text-gray-300 */
  background-color: #f5c6a0;
  border-radius: 16px;
}

.title-link{
  display: flex;
  gap: 0.5rem;
}

.statick_link{
  color: white;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  transition: color 0.2s ease;
}
.statick_link:hover{
  color: rgb(14, 14, 14); /* hover:text-gray-300 */
  background-color: #f5c6a0;
  border-radius: 16px;
  font-weight: bold;
}

.dropdown-arrow {
  transition: transform 0.2s ease;
}

.dropdown-arrow.rotate {
  transform: rotate(180deg);
}

.drowdon-container{
  max-width: 193px;
  min-width: 193px;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;

  margin: 1rem;
  max-width: 260px;
}

.dropdown-link {
  color: #2C2C2C;
  text-decoration: none;
  transition: color 0.2s ease;
}

.dropdown-link:hover {
  color: #d1d5db; /* hover:text-gray-300 */
  background-color: #f5c6a0;
  border-radius: 16px;
}

.dropdown-item {
  display: flex;
  font-weight: bold;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 16px;
  color: #2C2C2C;
  text-decoration: none;
}

/* Estilo cuando se hace hover sobre el item */
.dropdown-item:hover {
  background-color: #f5c6a0; /* bg-orange-400 */
  color: black;
  font-weight: bold;
}

/* Estilo del punto */
.dropdown-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: white;
  border-radius: 16px;
  transition: background-color 0.2s ease;
}

/* Estilo cuando se hace hover sobre el punto */
.dropdown-item:hover .dropdown-dot {
  background-color: #090908; /* bg-black o el color que prefieras */
}

